header, nav {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    background-color:#f4f4f4;
    color:black;
}

h1, h5 {
    text-align: center;
    font-size: 50px;
    letter-spacing: 12px;
}

h3 {
    text-align: center;
    background-color: cadetblue;
    font-family: monospace;
    font-size:20px;
}

ul, li {
    color:#db9696;
    list-style-type:none;
}

.new {
    width: 20px;
    height: 20px;
    color:#1f1919;
    position:absolute;
    background-blend-mode: lighten;
    background-color: rgb(36, 36, 21);

}

.img {
    border: #f4f4f4 solid 10px;
    border-radius: 20px;
    height: 400px;
    width: 400px;
    display: inline-block;
    size: 100px;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.wrapper {
    background-color: cornsilk;
}

.bottom-texts {
    display: inline-block;
    bottom:10px;
    margin-left: -270px;
    font-size: 40px;
    line-height: 100px; 
    font-family: Impact;
	-webkit-text-stroke: 1px black;
	-webkit-text-fill-color: white;
    line-height: 100px;
    font-family: Impact;
    position:absolute;
    text-overflow: ellipsis;
}

.top-texts {
    position:absolute;
    display:inline-block;
    top:10px;
    margin-left: -400px;
    font-stretch: inherit;
    font-size: 40px;
    line-height: 100px; 
    font-family: Impact;
	-webkit-text-stroke: 1px black;
	-webkit-text-fill-color: white;
}

.container {
    position:relative;
    display: inline-block;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color:#db9696;
} 

#top-text {
    color:black;
    display:inline-block;
}

#bottom-text {
    color:black;
    display:inline-block;
}

.img:hover {
    background-color: lavender;
    opacity: 0.7;
    height: 400px;
    width: 400px;
    display: inline-block;
    size: 100px;
    font-size: 40px;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.nyan {
    margin-left:0;
    height:100px;
    width:100px;
    background-color: black;
}
